{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "php://stdout",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\\\assert\\(.+\\);",
            "\\$consumed ..?= .+;"
        ],
        "ConcatOperandRemoval": {
            "ignoreSourceCodeByRegex": [
                "\\$this->tmpFilename = \\$this->filename . '.tmp';"
            ]
        },
        "TrueValue": {
            "ignoreSourceCodeByRegex": [
                "self::\\$filterRegistered = true;"
            ]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
