{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "php://stdout",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\\\assert\\(.+\\);"
        ],
        "ConcatOperandRemoval": {
            "ignoreSourceCodeByRegex": [
                "\\$tmpFile = uniqid\\(\\$destination . '_'\\);"
            ]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
